<div class="clr-row header-banner">
  <div class="clr-col"></div>
  <div class="clr-col-md-12 clr-col-lg-3 padding-horizontal padding-vertical">
    <h1>Flashcard Learning<br>Revolutionized</h1>
    <p>The modern and efficient way to study. Create your first deck now and share it to the world!</p>
    <br>
    <button [routerLink]="'/auth/signin'" class="btn btn-primary">Start Now</button>
  </div>
  <div class="clr-col-md-12 clr-col-lg-3 padding-horizontal padding-vertical">
    <img src="assets/images/sample_mockup.svg" height="350">
  </div>
  <div class="clr-col"></div>
</div>
