<header class="header-7">

  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="note" class="is-inverse" size="36"></clr-icon>
      <span class="title">Out Of Memory</span>
    </a>
  </div>

  <div class="header-nav">
    <a href="/" class="nav-link"><span class="nav-text">Dashboard</span></a>
    <a href="/decks/" class="nav-link"><span class="nav-text">Decks</span></a>
  </div>

  <div class="header-actions">
    <clr-dropdown>
      <button *ngIf="authService.currentUser" class="nav-text" clrDropdownTrigger aria-label="open user profile">
        {{authService.currentUser.username}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div *ngIf="authService.currentUser===undefined">
        <a href="/auth/signin" class="nav-link"><span class="nav-text">Log-In</span></a>
      </div>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="/auth/user" clrDropdownItem>Preferences</a>
        <a (click)="logout()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

</header>
