<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Out of Memory
      <h5 class="hint">Use an existing account to sign in or create one now</h5>
    </section>
    <div>
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username"/>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="email" name="email" clrInput placeholder="EMail Adresse" [(ngModel)]="form.email"/>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">First Name</label>
        <input type="text" name="firstName" clrInput placeholder="First Name" [(ngModel)]="form.firstName"/>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Last Name</label>
        <input type="text" name="lastName" clrInput placeholder="Last Name" [(ngModel)]="form.lastName"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
      </clr-password-container>
      <div class="error active">
        Invalid user name or password
      </div>
      <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
      <a [routerLink]="'/auth/signin'" class="signup">SignIn</a>
    </div>
  </form>
</div>
