/* You can add global styles to this file, and also import other style files */

.padding-vertical {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.padding-horizontal {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.padding-horizontal-small {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.page-shell {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
