# Default ignored files
/libraries/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Truztin\IdeaProjects\out-of-memory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/